doctype html
html
  head
    title Sockets
  body
    h1 Sockets
    fieldset
      legend Message
      p
        input(value="hello you" id="text")
      p
        button#btn Send
    script
      include main.js
